@* Shared POI Filter - used on Map and PointOfInterest List pages *@
<div class="row mt-3">
    <div class="col-md-12">
        <label for="filterInput" class="form-label">Filter POIs</label>
        <input type="text" class="form-control" id="filterInput" placeholder="Search by name or description...">
    </div>
</div>
