<div class="container top-controls fixed-top">
    <div class="row">
        <div class="col-auto">
            <label class="form-label"><i class="bi bi-layout-three-columns text-primary"></i>&nbsp;View</label><br />
            <div class="btn-group btn-group-sm view-toggle" role="group">
                <input type="radio" class="btn-check" name="viewToggle" id="cardViewRadio" [checked]="cardviewEnabled"
                    (change)="showCardView()">
                <label class="btn btn-outline-primary" for="cardViewRadio">
                    <i class="bi bi-grid-3x3-gap me-1"></i>Cards
                </label>
                <input type="radio" class="btn-check" name="viewToggle" id="listViewRadio" [checked]="!cardviewEnabled"
                    (change)="showListView()">
                <label class="btn btn-outline-primary" for="listViewRadio">
                    <i class="bi bi-list-ul me-1"></i>List
                </label>
            </div>
        </div>
        <div class="col">
            <label for="latitudeInput" class="form-label">Latitude <small class="text-muted">(-90 to
                    90)</small></label>
            <input type="number" class="form-control form-control-sm" id="latitudeInput" [(ngModel)]="latitude">
        </div>
        <div class="col">
            <label for="longitudeInput" class="form-label">Longitude <small class="text-muted">(-180 to
                    180)</small></label>
            <input type="number" class="form-control form-control-sm" id="longitudeInput" [(ngModel)]="longitude">
        </div>
        <div class="col">
            <label for="radiusInput" class="form-label">Radius {{ radius }} </label>
            <input type="range" class="form-range" min="100" max="50000" [(ngModel)]="radius" id="customRange2">
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary mt-4 btn-sm" (click)="loadPointsOfInterest()"
                [disabled]="!coordsValid">
                <i class="bi bi-arrow-clockwise me-1"></i>Load POIs</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label"><i
                    class="bi bi-funnel text-primary"></i>&nbsp;Category</label>
            <select class="form-control form-control-sm" (change)="filterByCategory($event)" [value]="categoryFilter"
                id="categoryFilter">
                <option [selected]="poiFilterService.noCategoryFilterSet(categoryFilter)">Choose...</option>
                <option *ngFor="let c of categories"
                    [selected]="poiFilterService.matchesCategoryCriteria(c, categoryFilter)">{{c | titlecase}}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label"><i class="bi bi-funnel text-primary"></i>&nbsp;Name</label>
            <input class="form-control form-control-sm" type="text" placeholder="Search (Name)..."
                value="{{nameFilter}}" (keyup)="filterByName($event)">
        </div>
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label"><i class="bi bi-funnel text-primary"></i>&nbsp;Details</label>
            <input class="form-control form-control-sm" type="text" placeholder="Search (Details)..."
                value="{{detailsFilter}}" (keyup)="filterByDetails($event)">
        </div>
    </div>
</div>

<div *ngIf="cardviewEnabled" class="container poi-list-content">
    <div class="mb-3 poi-list-content-controls">
        <div class="dropdown">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="bi-arrow-down-up"></i> Sort List
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" (click)="sortByName()" style="cursor: pointer;">
                        <i [ngClass]="nameSort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : ''"></i>
                        Name
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="sortByCategory()" style="cursor: pointer;">
                        <i [ngClass]="categorySort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : ''"></i>
                        Category
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="sortByDetails()" style="cursor: pointer;">
                        <i [ngClass]="detailsSort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : ''"></i>
                        Details
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let poi of pointsOfInterestFiltered; let i = index">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="">
                        <div class="poi-description-header">
                            <span class="lead">{{ poi.name }}</span>
                            <i [ngClass]="getBootstrapIconClass(poi.category)"
                                class="text-primary poi-description-header-icon"></i>
                        </div>
                    </div>
                    <div class="">
                        <div class="poi-description-coordinates"><i class="bi bi-geo-alt text-primary"></i>&nbsp;Lat: {{
                            poi.location.coordinates[1].toFixed(4) }} | Lng: {{
                            poi.location.coordinates[0].toFixed(4) }}</div>
                    </div>
                    <div class="">
                        <div [innerHTML]="poi.details | formatDetails"></div>
                    </div>
                    <div class="">
                        <div class="poi-description-footer">
                            <span class="badge bg-secondary">{{ poi.category | titlecase }}</span>
                            <div class="poi-description-footer-buttons">
                                <button type="button" class="btn btn-outline-primary btn-sm" (click)="editPoi(poi)"><i
                                        class="bi bi-pencil"></i> Edit</button>
                                &nbsp;
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    (click)="openDeleteConfirmationModal(poi)"><i class="bi bi-trash"></i>
                                    Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!cardviewEnabled" class="container poi-list-content">
    <table class="table table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col" style="width: 5%;">#</th>
                <th scope="col" style="width: 15%;">
                    <i class="bi bi-tag"></i>
                    &nbsp;Name&nbsp;
                    <i [ngClass]="nameSort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : 'bi-arrow-down-up'"
                        (click)="sortByName()"></i>
                </th>
                <th scope="col" style="width: 15%;">
                    <i class="bi bi-folder"></i>
                    &nbsp;Category&nbsp;
                    <i [ngClass]="categorySort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : 'bi-arrow-down-up'"
                        (click)="sortByCategory()"></i>
                </th>
                <th scope="col" style="width: 35%;">
                    <i class="bi bi-info-circle"></i>
                    &nbsp;Details&nbsp;
                    <i [ngClass]="detailsSort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : 'bi-arrow-down-up'"
                        (click)="sortByDetails()"></i>
                </th>
                <th scope="col" style="width: 15%;"><i class="bi bi-geo-alt"></i>&nbsp;Location</th>
                <th scope="col" style="width: 15%;"><i class="bi bi-gear"></i>&nbsp;Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poi of pointsOfInterestFiltered; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td><span class="lead">{{ poi.name }}</span></td>
                <!-- lets display the category with first letter upper case -->
                <td>
                    <i [ngClass]="getBootstrapIconClass(poi.category)"></i>&nbsp;<span class="text-muted">{{
                        poi.category | titlecase }}</span>
                </td>
                <td [innerHTML]="poi.details | formatDetails"></td>
                <td>
                    <span class="text-muted">
                        Lat: {{ poi.location.coordinates[1] }}<br />Lng: {{ poi.location.coordinates[0] }}
                    </span>
                </td>
                <td class="poi-list-content-column-right">
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="editPoi(poi)"><i
                            class="bi bi-pencil"></i> Edit</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-sm"
                        (click)="openDeleteConfirmationModal(poi)"><i class="bi bi-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- message toast -->
<div class="toast-fixed">
    <div #messageToast id="messageToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i [ngClass]="toastNotification.cssClass"></i>&nbsp;
            <strong class="me-auto">{{toastNotification.title}}</strong>
            <!-- format duration to only 2 digits after comma -->
            <small>{{toastNotification.messageSmall}}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{toastNotification.message}}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Are you sure you want to delete this POI?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedPoi">
                    <strong>{{ selectedPoi.name }}</strong>
                    <div class="small text-muted">{{ selectedPoi.details }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"><i
                        class="bi bi-x-circle"></i>&nbsp;Cancel</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmDeleteSelectedPoi()"
                    data-bs-dismiss="modal"><i class="bi bi-trash"></i>&nbsp;Delete</button>
            </div>
        </div>
    </div>
</div>