<div class="container top-controls fixed-top">
    <div class="row">
        <div class="col">
            <label for="latitudeInput" class="form-label">Latitude <small class="text-muted">(-90 to
                    90)</small></label>
            <input type="number" class="form-control form-control-sm" id="latitudeInput" [(ngModel)]="latitude">
        </div>
        <div class="col">
            <label for="longitudeInput" class="form-label">Longitude <small class="text-muted">(-180 to
                    180)</small></label>
            <input type="number" class="form-control form-control-sm" id="longitudeInput" [(ngModel)]="longitude">
        </div>
        <div class="col">
            <label for="radiusInput" class="form-label">Radius {{ radius }} </label>
            <input type="range" class="form-range" min="100" max="5000" [(ngModel)]="radius" id="customRange2">
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary mt-4 btn-sm" (click)="loadPointsOfInterest()"
                [disabled]="!coordsValid">
                <i class="bi bi-arrow-clockwise me-1"></i>Load POIs</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label"><i
                    class="bi bi-funnel text-primary"></i>&nbsp;Category</label>
            <select class="form-control form-control-sm" (change)="filterByCategory($event)" [value]="categoryFilter"
                id="categoryFilter">
                <option [selected]="poiFilterService.noCategoryFilterSet(categoryFilter)">Choose...</option>
                <option *ngFor="let c of categories"
                    [selected]="poiFilterService.matchesCategoryCriteria(c, categoryFilter)">{{c | titlecase}}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label"><i class="bi bi-funnel text-primary"></i>&nbsp;Name</label>
            <input class="form-control form-control-sm" type="text" placeholder="Search (Name)..."
                value="{{nameFilter}}" (keyup)="filterByName($event)">
        </div>
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label"><i class="bi bi-funnel text-primary"></i>&nbsp;Details</label>
            <input class="form-control form-control-sm" type="text" placeholder="Search (Details)..."
                value="{{detailsFilter}}" (keyup)="filterByDetails($event)">
        </div>
    </div>
</div>

<div class="container poi-list-content">
    <table class="table table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col" style="width: 5%;">#</th>
                <th scope="col" style="width: 15%;">
                    <i class="bi bi-tag"></i>
                    &nbsp;Name&nbsp;
                    <i [ngClass]="nameSort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : 'bi-arrow-down-up'"
                        (click)="sortByName()"></i>
                </th>
                <th scope="col" style="width: 15%;">
                    <i class="bi bi-folder"></i>
                    &nbsp;Category&nbsp;
                    <i [ngClass]="categorySort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : 'bi-arrow-down-up'"
                        (click)="sortByCategory()"></i>
                </th>
                <th scope="col" style="width: 35%;">
                    <i class="bi bi-info-circle"></i>
                    &nbsp;Details&nbsp;
                    <i [ngClass]="detailsSort ? sortOrder == 'asc' ? 'bi bi-sort-up' : 'bi bi-sort-down' : 'bi-arrow-down-up'"
                        (click)="sortByDetails()"></i>
                </th>
                <th scope="col" style="width: 15%;"><i class="bi bi-geo-alt"></i>&nbsp;Location</th>
                <th scope="col" style="width: 15%;"><i class="bi bi-gear"></i>&nbsp;Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poi of pointsOfInterestFiltered; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td><span class="lead">{{ poi.name }}</span></td>
                <!-- lets display the category with first letter upper case -->
                <td>
                    <i [ngClass]="getBootstrapIconClass(poi.category)"></i>&nbsp;<span class="text-muted">{{
                        poi.category | titlecase }}</span>
                </td>
                <td [innerHTML]="poi.details | formatDetails"></td>
                <td>
                    <span class="text-muted">
                        Lat: {{ poi.location.coordinates[1] }}<br />Lng: {{ poi.location.coordinates[0] }}
                    </span>
                </td>
                <td class="poi-list-content-column-right">
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="editPoi(poi)"><i
                            class="bi bi-pencil"></i> Edit</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-sm"
                        (click)="openDeleteConfirmationModal(poi)"><i class="bi bi-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- message toast -->
<div class="toast-fixed">
    <div #messageToast id="messageToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i [ngClass]="toastNotification.cssClass"></i>&nbsp;
            <strong class="me-auto">{{toastNotification.title}}</strong>
            <!-- format duration to only 2 digits after comma -->
            <small>{{toastNotification.messageSmall}}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{toastNotification.message}}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Are you sure you want to delete this POI?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedPoi">
                    <strong>{{ selectedPoi.name }}</strong>
                    <div class="small text-muted">{{ selectedPoi.details }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"><i
                        class="bi bi-x-circle"></i>&nbsp;Cancel</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmDeleteSelectedPoi()"
                    data-bs-dismiss="modal"><i class="bi bi-trash"></i>&nbsp;Delete</button>
            </div>
        </div>
    </div>
</div>