<div class="container">
    <!-- TODO Filter by category
    <div class="form-group">
        <label for="sel1">Choose Category</label>
        <select class="form-control form-control-sm" (change)="onCategoryChange($event)">
            <option value=""></option>
            <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
        </select>
    </div>
    -->
    <div id="map" class="jumbotron map_large"></div>
    <div class="shortcut-hint" aria-hidden="true">Right click on the map to add a new POI</div>
</div>