<div class="container top-controls fixed-top">
    <div class="row">
        <div class="col-md-4">
            <label for="latitudeInput" class="form-label">Filter Category</label>
            <select class="form-control form-control-sm" (change)="filterByCategory($event)" [value]="categoryFilter">
                <option [selected]="poiFilterService.noCategoryFilterSet(categoryFilter)">
                    Choose...</option>
                <option *ngFor="let c of categories"
                    [selected]="poiFilterService.matchesCategoryCriteria(c, categoryFilter)">{{c | titlecase}}
                </option>
            </select>
        </div>
        <div class="col-md-8">
            <label for="latitudeInput" class="form-label">Filter Details</label>
            <input class="form-control form-control-sm" type="text" placeholder="Search (Details)..."
                value="{{detailsFilter}}" (keyup)="filterBySearch($event)">
        </div>
    </div>
</div>
<div class="container poi-map-content">
    <div id="map" class="jumbotron map_large"></div>
    <div class="shortcut-hint" aria-hidden="true">Right click on the map to add a new POI</div>
</div>