/* Map View Styles */

/* Map container with margin for controls */
.map-container {
    position: absolute;
    width: 100%;
}

.map_large {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

/* Move Leaflet zoom controls below fixed controls */
.leaflet-top.leaflet-left {
    top: 80px; /* Position below top-controls (navbar is 56px) */
}
